/00-libqtxdg
/00-qps

/01-lxqt-build-tools
/01-screengrab

/02-liblxqt
/02-libsysstat

/03-compton-conf
/03-libfm-qt
/03-lxqt-themes
/03-obconf-qt
/03-pavucontrol-qt
/03-qtermwidget


/04-lximage-qt
/04-lxqt-about
/04-lxqt-admin
/04-lxqt-archiver
/04-lxqt-config
/04-lxqt-connman-applet
/04-lxqt-globalkeys
/04-lxqt-notificationd
/04-lxqt-openssh-askpass
/04-lxqt-policykit
/04-lxqt-powermanagement
/04-lxqt-qtplugin
/04-lxqt-session
/04-lxqt-sudo
/04-pcmanfm-qt
/04-qterminal

/05-lxqt-panel
/05-lxqt-runner

