/00-libqtxdg
/02-liblxqt
/03-lxqt-l10n


/03-libfm-qt
/03-qtermwidget
/04-pcmanfm-qt
/04-qterminal

/04-lximage-qt
/04-lxqt-about
/04-lxqt-admin
/04-lxqt-config
/04-lxqt-globalkeys
/04-lxqt-notificationd
/04-lxqt-openssh-askpass
/04-lxqt-policykit
/04-lxqt-powermanagement
/04-lxqt-qtplugin
/04-lxqt-session
/04-lxqt-sudo
/05-lxqt-panel
/05-lxqt-runner
