/*-compton-conf
/*-libfm-qt
/*-liblxqt
/*-libqtxdg
/*-libsysstat
/*-lximage-qt
/*-lxqt-about
/*-lxqt-admin
/*-lxqt-archiver
/*-lxqt-build-tools
/*-lxqt-config
/*-lxqt-connman-applet
/*-lxqt-globalkeys
/*-lxqt-notificationd
/*-lxqt-openssh-askpass
/*-lxqt-panel
/*-lxqt-policykit
/*-lxqt-powermanagement
/*-lxqt-qtplugin
/*-lxqt-runner
/*-lxqt-session
/*-lxqt-sudo
/*-lxqt-themes
/*-obconf-qt
/*-pavucontrol-qt
/*-pcmanfm-qt
/*-qps
/*-qterminal
/*-qtermwidget
/*-screengrab
